.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttonImage {
	background-color: aqua;
	border-radius: 10px;
	display: flex;
	cursor: pointer;
	height: 50px;
	width: 50px;
}

.buttonImage:hover {
	filter: brightness(150%);
}

.open {
	filter: brightness(150%);
}

.speechBubble {
	margin-left: 10px;
	position: absolute;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	background-color: #604d4f;
	color: white;
	padding: 10px;
	border-radius: 5px;
	position: absolute;
	transform: translate(125px, 0px);
	z-index: 1;
}
.speechBubble::before{
	content:"";
	position: absolute;
	top:39px;
	left: 40px;
	margin:auto;
	height: 20px;
	width: 20px;
	transform: translate(-50px, 70px) rotate(45deg);
	background-color: #604d4f
}

.imageContainer {
	height: 50px;
	width: 50px;
	margin-bottom: 5px;
	margin-right: 2.5px;
	margin-left: 2.5px;
}

.imageContainer:hover {
	cursor: pointer;
	filter: brightness(150%);
}

.image {
	height: 50px;
	width: 50px;
}